body{
    background-color: black;
    color: white;
    margin: 0;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 600px;
    margin: auto;
    gap: 10px 20px;
    padding: 20px 0;
}
input{
    width: calc(100% - 100px);
    border: none;
    padding: 5px 10px;
    box-sizing: border-box;
}
button{
    margin: 0;
    width: 100px;
    text-align: center;
    border: none;
    padding: 5px 0px;
    background-color: red;
    color: white;

}


@media only screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
    input{
        width: 100%;
    }
} */




.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px 20px;
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
}
button{
    width: 100px;
    padding: 5px 0;
    border: none;
    background-color: red;
    color: white;
}
input{
    width: calc(100% - 100px);
    padding: 3px 10px;
    box-sizing: border-box;
}



@media only screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
    input{
        width: 100%;
    }
}